{#
/**
 * @file
 * Default theme implementation to display a Marvel character.
 *
 * Available variables:
 * - id
 * - name
 * - description
 * - thumbnail: A URL.
 *
 */
#}
{% if id is empty %}
  <div><p>No results were found.</p></div>
{% else %}
  <div class="marvel-character">
    <div class="marvel-character__name">
      <h2>{{ name }}</h2>
    </div>
    <div class="marvel-character__image-wrapper">
      <img class="marvel-character__image" src="{{ image }}" alt="{{ name }}'s image." />
    </div>
    <div class="marvel-character__description">
      {{ description }}
    </div>
  </div>
{% endif %}
  <div>
    <a href="/marvel" title="Go back to search page">Back to search</a>
  </div>
